body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/pattern.png);
    font-family: Arial, Helvetica, sans-serif;
}

section{
    width: 80%;
    height: 500px;
    background-color: white;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    display: flex;
    opacity: 0.95;
}

#imagen_sesion{
    width: 40%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
}

#imagen_sesion > img{
    width:200%;
    height: 100%;
    margin-left: -190px;
}

#iniciar_sesion{
    width: 60%;
    padding: 20px;
}

#iniciar_sesion > h1{
    text-align: center;
    font-size: 40px;
}

#iniciar_sesion > form{
    display: flex;
    flex-flow: column;
    width: 100%;
}

#iniciar_sesion > form label{
    font-size: 20px;
}

#iniciar_sesion > form input[type='text'], input[type='password']{
    border: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #ccc;
    animation: all 300ms;
}

#iniciar_sesion > form input[type='text']:hover, input[type='password']:hover{
    box-shadow: 0px 0px 15px black;
    color: black;
    border: none;
}

#iniciar_sesion > form input[type='text']:focus, input[type='password']:focus{
    box-shadow: 0px 0px 15px black;
    color: black;
    border: none;
}

#iniciar_sesion > form input[type='submit']{
    margin-top: 10px;
    padding: 12px;
    border-radius: 5px;
    width: 30%;
    cursor: pointer;
    border: none;
}

#iniciar_sesion > form input[type='submit']:hover{
    background-color: #333;
    color: white;
}